@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

button {
  cursor: pointer;
}

@theme {
  --animate-jump: jump 1s ease-in-out infinite;
  @keyframes jump {
    0%,
    100% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    50% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }
}
